<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title> Smit's Resume</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="Resume/resume.css">
    </head>
    <style>
        body {
          max-width: 850px;
          margin: auto;
        }

        #MyName{
            text-align:center;
        }
        #ContactLinks{
            text-align:center;
        }

        </style>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <div id="MyName">
        <h2>
            Smit B Patel
        </h2>
        </div>
        <div id="ContactLinks">
        <h3> 
            hg4807@wayne.edu | 
            <a href="https://github.com/Patel27-S ">https://github.com/Patel27-S</a> | 
            <a href="https://www.linkedin.com/in/smit-patel-0351481b4/ ">https://www.linkedin.com/in/smit-patel-0351481b4//</a> 
        </h3>
        </div>
        <hr>

        <div id="Summary">
            <h3>Summary :</h3>
            <p>
             •	Detail-Oriented team player with excellent analytical and programming skills, requiring minimal supervision.
            </p>
            <p>
            • Motivated individual and an innate problem solver, 
            seeking a position in growth-oriented company where the skills can be used to the advantage 
            of the company while having the scope to develop.
            </p>
            <hr>
        </div>

        <div id="Education">
            <h3>Education :</h3>
            <div class="MSCS">
                <Strong>MASTER OF SCIENCE IN COMPUTER SCIENCE (January 2021 - Present)</strong> <br>
            Wayne State University , MICHIGAN, USA. | 4.0 GPA 
            </div>
            <br>
            <div class="BEEE">
            <strong>BACHELOR OF ENGINEERING IN ELECTRICAL ENGINEERING</strong> <br>
            Gujarat Technological University , INDIA | Graduated in 2018 | 3.85 GPA
            <br>
            </div>
        </div>
        <br>
        <hr>

        <div id="TECHNICAL_SKILLS">
            <h3>Technical Skills :</h3>
            <div class="Languages"><Strong>•Languages </strong>:- Python, SQL , Java, C++, JavaScript, PHP.</div>
            <div class="Databases"><strong>•Databases </strong>:- MySQL, PostreSQL, SQLite.</div>
            <div class="WebFramework"><strong>•	Web Frameworks </strong>:- Django, Flask.</div>
            <div class="MachineLearning"><strong>•Machine Learning </strong>:- Various Supervised and Unsupervised ML Algorithms.</div>
            <div class="VersionControl"><strong>•Version Control </strong>:- Git, GitHub for code management.</div><br>
            <hr>    
        </div>
        


        <div id="Projects">

            <h3>Projects :</h3>
            
            <div class="CryptoPps">
            <Strong>Crypto - PPS transaction Database Application  - </strong>(Java, JDBC , MySQL, HTML, CSS).<br>

            • Designed a database application for performing various types of Cryto called as PPS' transactions 
            between the users of the website and the root user.<br>
            • A user could transfer pps to another user, sell it to the root user,buy it from the root user, 
            deposit and withdraw money to and from one’s own account, <br> &nbsp;&nbsp;obviously with the corresponding changes
            getting made to the database.<br><br>
            </div>
            
            <div class="WebApplication">
            <Strong>Microblogging Web Application  - </strong>(Python, Flask, HTML, CSS, SQLite, SQLAlchemy, Git).<br>

            • Engineered a Web Application that is used for posting posts, following users, unfollowing users, registering, 
            exploring all the users using the application.<br> 
            • Proposed translation features using Microsoft Translator API for dynamic translations, 
            also password recovery feature for generating new passwords.  <br> 
            • Added Pagination feature to avoid all the posts getting displayed on a single page, 
            for reducing the time for number of posts on a page, coming from the server. <br><br>
            </div>
            
            <div class="CreditCardFraud">
            <Strong>Credit Card Fraud Detection - </strong>(Pandas, Python, ScikitLearn, MatplotLib).<br>

            • Preprocessed a highly imbalanced dataset(i.e. with a minute fraction of fraudulent records) of 284k datapoints in python.<br>
            • Implemented supervised learning methods such as Random Forest Classifier, Local Outlier Factor and
              Decision Trees in order to detect the Normal and Fraudulent transactions.<br> 
            • Had the F-1 score in the range of 80-85%.
             Also, Implemented unsupervised learning anamoly detection method which didn't though perform as good 
             as the supervised method. <br> <br>
            </div>

             <div class="DiabetesPrediction">
             <strong> Research on Diabetes Prediction - </strong> (January 2022 : In progress)<br>
             • Overview : Collection of the data for diabetes, Followed by its preprocessing, Using various Data Mining Models for 
             early prediction of Diabetes; eventually developing a web application using Django to perhaps 
             facilitate the use of model.<br><br><hr>
             </div>
    
        </div>
    
        
        <div id="Experience">

            <h3>Experience :</h3>

            <div class="Math_Tutor">
                <strong> Math Tutor | Connect Me | May 2021 – August 2021 | (Volunteer) </strong><br>
                • Tutoring the students at ‘Connect Me’ in the subject of Mathematics; to have them become better by 
                solving the conceptual doubts and helping them understand different topics.
            </div>
            <br>

            <div class="Co-organizer">
                <strong>Co-organizer | Detroit FreeCodeCamp | April 2021 – Present | (Volunteer)</strong><br>
                •	Gathering feedback of the attendees regarding the problems they have developing in their  coding career; 
                seeking the best courses available online to suggest them for progress.<br>
                •	Organizing the meetups and conducting polls on various topics to help improve their quality.
            </div>
            <br>
            
            <div class="Math_Tutor2">
                <strong> Math Tutor | Knowledge Highschool | Nov 2018 – April 2019  </strong><br>
                •	Tutoring students on various topics of Mathematics such as Linear Algebra, Differential and 
                Integral Calculus, Vector Calculus to the most fundamental ones such as Factorization and Expansion.<br>
                •	Tracking the progress of students and adopting apt methods to teach and help them develop interest in Math.
            </div>
            <br>

            <div class="Assistant_Systems_Engineer">
                <strong> Assistant Systems Engineer Trainee | TATA CONSULTANCY SERVICES | Jul 2018 - Oct 2018  </strong><br>
                •	Attained fundamentals learnings in Java, Python, Introduction to Software Development Lifecycle, 
                Artificial Intelligence, HTML and CSS.<br>
                •	Remained Single Point of Contact between students and the trainer for the duration to get  better flow 
                of communication.
            </div>
            <br>

        </div>
        <hr>

        <div id="Certifications">
            <h3>Certifications:</h3>
            <div class="JPMC">
                <strong>•  JP Morgan Chase &amp; Co.</strong> - Software Engineering Virtual Experience
            </div>
            <div class="ATT">
                <strong>•  AT&amp;T </strong> -  2021 Summer Learning Academy Extern
            </div>
            <br>
            <br>
        </div>


        

        
        <script src="" async defer></script>
    </body>
</html>